@CHARSET "UTF-8";

hr {
	margin: 0px;
}

.total_autocomplete {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-bottom: 0.125rem;
  margin-right:5px;
  float:right;
}
  
.dvtCellInfo ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}
.dvtCellInfo ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}
.dvtCellInfo ul ul,.dvtCellInfo  ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}
.dvtCellInfo ol ol,.dvtCellInfo ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}

.cbslds-button--icon-more {
	width: 1.875rem;
	height: 1.875rem;
}
.slds-spinner_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9050;
  background-color: rgba(255, 255, 255, 0.75);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0s;
  transition-delay: 0s, 0.3s; }
.slds-spinner_container.is-hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0s;
  transition-delay: 0s, 0s; }
.slds-spinner_container.hide {
  display: none; }
.slds-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg); }
.slds-spinner,
.slds-spinner__dot-a,
.slds-spinner__dot-b {
  transform-origin: 50% 50%; }
.slds-spinner__dot-a,
.slds-spinner__dot-b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
.slds-spinner:before,
.slds-spinner:after,
.slds-spinner__dot-a:before,
.slds-spinner__dot-b:before,
.slds-spinner__dot-a:after,
.slds-spinner__dot-b:after {
  position: absolute;
  content: '';
  background: #9faab5;
  border-radius: 50%;
  animation-duration: 1000ms;
  animation-iteration-count: infinite; }
.slds-spinner__dot-a {
  transform: rotate(60deg) translateY(0); }
.slds-spinner__dot-b {
  transform: rotate(120deg) translateY(0); }
.slds-spinner:before {
  animation-delay: -83.33333ms; }
.slds-spinner__dot-a:before {
  animation-delay: 83.33333ms; }
.slds-spinner__dot-b:before {
  animation-delay: 250ms; }
.slds-spinner:after {
  animation-delay: 416.66667ms; }
.slds-spinner__dot-a:after {
  animation-delay: 583.33333ms; }
.slds-spinner__dot-b:after {
  animation-delay: 750ms; }
.slds-spinner_brand.slds-spinner:before, .slds-spinner_brand.slds-spinner:after,
.slds-spinner_brand .slds-spinner__dot-a:before,
.slds-spinner_brand .slds-spinner__dot-b:before,
.slds-spinner_brand .slds-spinner__dot-a:after,
.slds-spinner_brand .slds-spinner__dot-b:after,
.slds-spinner--brand.slds-spinner:before,
.slds-spinner--brand.slds-spinner:after,
.slds-spinner--brand .slds-spinner__dot-a:before,
.slds-spinner--brand .slds-spinner__dot-b:before,
.slds-spinner--brand .slds-spinner__dot-a:after,
.slds-spinner--brand .slds-spinner__dot-b:after {
  background-color: #1589ee; }
.slds-spinner_inverse.slds-spinner:before, .slds-spinner_inverse.slds-spinner:after,
.slds-spinner_inverse .slds-spinner__dot-a:before,
.slds-spinner_inverse .slds-spinner__dot-b:before,
.slds-spinner_inverse .slds-spinner__dot-a:after,
.slds-spinner_inverse .slds-spinner__dot-b:after,
.slds-spinner--inverse.slds-spinner:before,
.slds-spinner--inverse.slds-spinner:after,
.slds-spinner--inverse .slds-spinner__dot-a:before,
.slds-spinner--inverse .slds-spinner__dot-b:before,
.slds-spinner--inverse .slds-spinner__dot-a:after,
.slds-spinner--inverse .slds-spinner__dot-b:after {
  background-color: #fdfdfd; }
.slds-spinner_xx-small,
.slds-spinner--xx-small {
  width: 0.5rem; }
  .slds-spinner_xx-small.slds-spinner:before, .slds-spinner_xx-small.slds-spinner:after,
  .slds-spinner_xx-small .slds-spinner__dot-a:before,
  .slds-spinner_xx-small .slds-spinner__dot-b:before,
  .slds-spinner_xx-small .slds-spinner__dot-a:after,
  .slds-spinner_xx-small .slds-spinner__dot-b:after,
  .slds-spinner--xx-small.slds-spinner:before,
  .slds-spinner--xx-small.slds-spinner:after,
  .slds-spinner--xx-small .slds-spinner__dot-a:before,
  .slds-spinner--xx-small .slds-spinner__dot-b:before,
  .slds-spinner--xx-small .slds-spinner__dot-a:after,
  .slds-spinner--xx-small .slds-spinner__dot-b:after {
    width: 0.125rem;
    height: 0.125rem; }
  .slds-spinner_xx-small.slds-spinner:before,
  .slds-spinner_xx-small .slds-spinner__dot-a:before,
  .slds-spinner_xx-small .slds-spinner__dot-b:before,
  .slds-spinner--xx-small.slds-spinner:before,
  .slds-spinner--xx-small .slds-spinner__dot-a:before,
  .slds-spinner--xx-small .slds-spinner__dot-b:before {
    top: -0.0625rem;
    left: -0.0625rem;
    animation-name: dotsBounceBefore-extraExtraSmall; }
  .slds-spinner_xx-small.slds-spinner:after,
  .slds-spinner_xx-small .slds-spinner__dot-a:after,
  .slds-spinner_xx-small .slds-spinner__dot-b:after,
  .slds-spinner--xx-small.slds-spinner:after,
  .slds-spinner--xx-small .slds-spinner__dot-a:after,
  .slds-spinner--xx-small .slds-spinner__dot-b:after {
    top: -0.0625rem;
    right: -0.0625rem;
    animation-name: dotsBounceAfter-extraExtraSmall; }
  .slds-masseditprogress {
    z-index:1000000000000000; 
    position:absolute;
    top:30%;
    left:60%;
    width:40%;}

    @keyframes dotsBounceBefore-extraExtraSmall {
60% {
  transform: translateX(0);
  animation-timing-function: cubic-bezier(0.275, 0.0425, 0.34, 0.265); }
80% {
  animation-timing-function: cubic-bezier(0, 0.555, 0.35, 0.715);
  transform: translateX(-0.125rem); }
100% {
  transform: translateX(0); } }

@keyframes dotsBounceAfter-extraExtraSmall {
  60% {
    animation-timing-function: cubic-bezier(0.275, 0.0425, 0.34, 0.265);
    transform: translateX(0); }
  80% {
    animation-timing-function: cubic-bezier(0, 0.555, 0.35, 0.715);
    transform: translateX(0.125rem); }
  100% {
    transform: translateX(0); } }
  .slds-spinner_x-small,
  .slds-spinner--x-small {
    width: 1rem; }
    .slds-spinner_x-small.slds-spinner:before, .slds-spinner_x-small.slds-spinner:after,
    .slds-spinner_x-small .slds-spinner__dot-a:before,
    .slds-spinner_x-small .slds-spinner__dot-b:before,
    .slds-spinner_x-small .slds-spinner__dot-a:after,
    .slds-spinner_x-small .slds-spinner__dot-b:after,
    .slds-spinner--x-small.slds-spinner:before,
    .slds-spinner--x-small.slds-spinner:after,
    .slds-spinner--x-small .slds-spinner__dot-a:before,
    .slds-spinner--x-small .slds-spinner__dot-b:before,
    .slds-spinner--x-small .slds-spinner__dot-a:after,
    .slds-spinner--x-small .slds-spinner__dot-b:after {
      width: 0.25rem;
      height: 0.25rem; }
    .slds-spinner_x-small.slds-spinner:before,
    .slds-spinner_x-small .slds-spinner__dot-a:before,
    .slds-spinner_x-small .slds-spinner__dot-b:before,
    .slds-spinner--x-small.slds-spinner:before,
    .slds-spinner--x-small .slds-spinner__dot-a:before,
    .slds-spinner--x-small .slds-spinner__dot-b:before {
      top: -0.125rem;
      left: -0.125rem;
      animation-name: dotsBounceBefore-extraSmall; }
    .slds-spinner_x-small.slds-spinner:after,
    .slds-spinner_x-small .slds-spinner__dot-a:after,
    .slds-spinner_x-small .slds-spinner__dot-b:after,
    .slds-spinner--x-small.slds-spinner:after,
    .slds-spinner--x-small .slds-spinner__dot-a:after,
    .slds-spinner--x-small .slds-spinner__dot-b:after {
      top: -0.125rem;
      right: -0.125rem;
      animation-name: dotsBounceAfter-extraSmall; }

@keyframes dotsBounceBefore-extraSmall {
  60% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  80% {
    animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43);
    transform: translateX(-0.25rem); }
  100% {
    transform: translateX(0); } }

@keyframes dotsBounceAfter-extraSmall {
  60% {
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: translateX(0); }
  80% {
    animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43);
    transform: translateX(0.25rem); }
  100% {
    transform: translateX(0); } }
  .slds-spinner_small,
  .slds-spinner--small {
    width: 1.25rem; }
    .slds-spinner_small.slds-spinner:before, .slds-spinner_small.slds-spinner:after,
    .slds-spinner_small .slds-spinner__dot-a:before,
    .slds-spinner_small .slds-spinner__dot-b:before,
    .slds-spinner_small .slds-spinner__dot-a:after,
    .slds-spinner_small .slds-spinner__dot-b:after,
    .slds-spinner--small.slds-spinner:before,
    .slds-spinner--small.slds-spinner:after,
    .slds-spinner--small .slds-spinner__dot-a:before,
    .slds-spinner--small .slds-spinner__dot-b:before,
    .slds-spinner--small .slds-spinner__dot-a:after,
    .slds-spinner--small .slds-spinner__dot-b:after {
      width: 0.25rem;
      height: 0.25rem; }
    .slds-spinner_small.slds-spinner:before,
    .slds-spinner_small .slds-spinner__dot-a:before,
    .slds-spinner_small .slds-spinner__dot-b:before,
    .slds-spinner--small.slds-spinner:before,
    .slds-spinner--small .slds-spinner__dot-a:before,
    .slds-spinner--small .slds-spinner__dot-b:before {
      top: -0.125rem;
      left: -0.125rem;
      animation-name: dotsBounceBefore-small; }
    .slds-spinner_small.slds-spinner:after,
    .slds-spinner_small .slds-spinner__dot-a:after,
    .slds-spinner_small .slds-spinner__dot-b:after,
    .slds-spinner--small.slds-spinner:after,
    .slds-spinner--small .slds-spinner__dot-a:after,
    .slds-spinner--small .slds-spinner__dot-b:after {
      top: -0.125rem;
      right: -0.125rem;
      animation-name: dotsBounceAfter-small; }

@keyframes dotsBounceBefore-small {
  60% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  80% {
    animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43);
    transform: translateX(-0.375rem); }
  100% {
    transform: translateX(0); } }

@keyframes dotsBounceAfter-small {
  60% {
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: translateX(0); }
  80% {
    animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43);
    transform: translateX(0.375rem); }
  100% {
    transform: translateX(0); } }
  .slds-spinner_medium,
  .slds-spinner--medium {
    width: 2rem; }
    .slds-spinner_medium.slds-spinner:before, .slds-spinner_medium.slds-spinner:after,
    .slds-spinner_medium .slds-spinner__dot-a:before,
    .slds-spinner_medium .slds-spinner__dot-b:before,
    .slds-spinner_medium .slds-spinner__dot-a:after,
    .slds-spinner_medium .slds-spinner__dot-b:after,
    .slds-spinner--medium.slds-spinner:before,
    .slds-spinner--medium.slds-spinner:after,
    .slds-spinner--medium .slds-spinner__dot-a:before,
    .slds-spinner--medium .slds-spinner__dot-b:before,
    .slds-spinner--medium .slds-spinner__dot-a:after,
    .slds-spinner--medium .slds-spinner__dot-b:after {
      width: 0.5rem;
      height: 0.5rem; }
    .slds-spinner_medium.slds-spinner:before,
    .slds-spinner_medium .slds-spinner__dot-a:before,
    .slds-spinner_medium .slds-spinner__dot-b:before,
    .slds-spinner--medium.slds-spinner:before,
    .slds-spinner--medium .slds-spinner__dot-a:before,
    .slds-spinner--medium .slds-spinner__dot-b:before {
      animation-name: dotsBounceBefore-medium;
      top: -0.25rem;
      left: -0.25rem; }
    .slds-spinner_medium.slds-spinner:after,
    .slds-spinner_medium .slds-spinner__dot-a:after,
    .slds-spinner_medium .slds-spinner__dot-b:after,
    .slds-spinner--medium.slds-spinner:after,
    .slds-spinner--medium .slds-spinner__dot-a:after,
    .slds-spinner--medium .slds-spinner__dot-b:after {
      animation-name: dotsBounceAfter-medium;
      top: -0.25rem;
      right: -0.25rem; }

@keyframes dotsBounceBefore-medium {
  60% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  80% {
    animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43);
    transform: translateX(-0.5rem); }
  100% {
    transform: translateX(0); } }

@keyframes dotsBounceAfter-medium {
  60% {
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: translateX(0); }
  80% {
    animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43);
    transform: translateX(0.5rem); }
  100% {
    transform: translateX(0); } }
  .slds-spinner_large,
  .slds-spinner--large {
    width: 2.75rem; }
    .slds-spinner_large.slds-spinner:before, .slds-spinner_large.slds-spinner:after,
    .slds-spinner_large .slds-spinner__dot-a:before,
    .slds-spinner_large .slds-spinner__dot-b:before,
    .slds-spinner_large .slds-spinner__dot-a:after,
    .slds-spinner_large .slds-spinner__dot-b:after,
    .slds-spinner--large.slds-spinner:before,
    .slds-spinner--large.slds-spinner:after,
    .slds-spinner--large .slds-spinner__dot-a:before,
    .slds-spinner--large .slds-spinner__dot-b:before,
    .slds-spinner--large .slds-spinner__dot-a:after,
    .slds-spinner--large .slds-spinner__dot-b:after {
      width: 0.625rem;
      height: 0.625rem; }
    .slds-spinner_large.slds-spinner:before,
    .slds-spinner_large .slds-spinner__dot-a:before,
    .slds-spinner_large .slds-spinner__dot-b:before,
    .slds-spinner--large.slds-spinner:before,
    .slds-spinner--large .slds-spinner__dot-a:before,
    .slds-spinner--large .slds-spinner__dot-b:before {
      animation-name: dotsBounceBefore-medium;
      top: -0.3125rem;
      left: -0.3125rem; }
    .slds-spinner_large.slds-spinner:after,
    .slds-spinner_large .slds-spinner__dot-a:after,
    .slds-spinner_large .slds-spinner__dot-b:after,
    .slds-spinner--large.slds-spinner:after,
    .slds-spinner--large .slds-spinner__dot-a:after,
    .slds-spinner--large .slds-spinner__dot-b:after {
      animation-name: dotsBounceAfter-medium;
      top: -0.3125rem;
      right: -0.3125rem; }

@keyframes dotsBounceBefore-large {
  60% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  80% {
    animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43);
    transform: translateX(-0.75rem); }
  100% {
    transform: translateX(0); } }

@keyframes dotsBounceAfter-large {
  60% {
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: translateX(0); }
  80% {
    animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43);
    transform: translateX(0.75rem); }
  100% {
    transform: translateX(0); } }

@media print {
	a[href]:after {
		content: none;
	}
}