

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline:none;
}

/* HTML5 display-role reset for older browsers font:  Myriad Pro*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 18px;
	font-size:0.95em; font-family:"Arial", Arial, helvetica, sans-serif; color:#272324;
}
a{ text-decoration:none; outline:none;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.spacer5{ clear:both; height:5px;}
.spacer10{ clear:both; height:10px;}
.cursor { cursor:pointer;}
.mgt171{margin-top:171px !important;}.mgb171{margin-bottom:171px!important;}.mgl171{margin-left:171px!important;}.mgr171{margin-right:171px!important;}
.mgt95{margin-top:95px !important;}.mgb95{margin-bottom:95px!important;}.mgl95{margin-left:95px!important;}.mgr95{margin-right:95px!important;}
.mgt72{margin-top:72px !important;}.mgb72{margin-bottom:72px!important;}.mgl72{margin-left:72px!important;}.mgr72{margin-right:72px!important;}
.mgt45{margin-top:45px !important;}.mgb45{margin-bottom:45px!important;}.mgl45{margin-left:45px!important;}.mgr45{margin-right:45px!important;}
.mgt48{margin-top:48px !important;}.mgb48{margin-bottom:48px!important;}.mgl48{margin-left:48px!important;}.mgr48{margin-right:48px!important;}
.mgt35{margin-top:35px !important;}.mgb35{margin-bottom:35px!important;}.mgl35{margin-left:35px!important;}.mgr35{margin-right:35px!important;}
.mgt30{margin-top:30px !important;}.mgb30{margin-bottom:30px!important;}.mgl30{margin-left:30px!important;}.mgr30{margin-right:30px!important;}
.mgt25{margin-top:25px !important;}.mgb25{margin-bottom:25px!important;}.mgl25{margin-left:25px!important;}.mgr25{margin-right:25px!important;}
.mgt20{margin-top:20px !important;}.mgb20{margin-bottom:20px!important;}.mgl20{margin-left:20px!important;}.mgr20{margin-right:20px!important;}.mgr35{margin-right:35px!important;}
.mgt10{margin-top:10px !important;}.mgb10{margin-bottom:10px!important;}.mgl10{margin-left:10px!important;}.mgr10{margin-right:10px!important;}.mgr12{margin-right:12px!important;}
.mgt15{margin-top:15px !important;}.mgb15{margin-bottom:15px!important;}.mgl15{margin-left:15px!important;}.mgr15{margin-right:15px!important;}.mgr24{margin-right:24px!important;}
.mgt12{margin-top:12px !important;}
.mgt8{margin-top:8px!important;}.mgb8{margin-bottom:8px!important;}.mgl8{margin-left:8px!important;}.mgr8{margin-right:8px!important;}
.mgt5{margin-top:5px!important;}.mgb5{margin-bottom:5px!important;}.mgl5{margin-left:5px!important;}.mgr5{margin-right:5px!important;}
.mgt3{margin-top:3px!important;}.mgb3{margin-bottom:3px!important;}.mgl3{margin-left:3px!important;}.mgr3{margin-right:3px!important;}
.mgt1{margin-top:1px!important;}.mgb1{margin-bottom:1px!important;}.mgl1{margin-left:1px!important;}.mgr1{margin-right:1px!important;}

.pdt50{ padding-top:50px !important;}.pdb50{padding-bottom:50px!important;}.pdl50{padding-left:50px!important;}.pdr50{padding-right:50px!important;}
.pdt45{ padding-top:45px !important;}.pdb45{padding-bottom:45px!important;}.pdl45{padding-left:45px!important;}.pdr45{padding-right:45px!important;}
.pdt35{padding-top:35px !important;}.pdb35{padding-bottom:35px!important;}.pdl35{padding-left:35px!important;}.pdr35{padding-right:35px!important;}
.pdt30{padding-top:30px !important;}.pdb30{padding-bottom:30px!important;}.pdl30{padding-left:30px!important;}.pdr30{padding-right:30px!important;}
.pdt25{padding-top:25px !important;}.pdb25{padding-bottom:25px!important;}.pdl25{padding-left:25px!important;}.pdr25{padding-right:25px!important;}
.pdt20{padding-top:20px !important;}.pdb20{padding-bottom:20px!important;}.pdl20{padding-left:20px!important;}.pdr20{padding-right:20px!important;}.pdr35{padding-right:35px!important;}
.pdt10{padding-top:10px !important;}.pdb10{padding-bottom:10px!important;}.pdl10{padding-left:10px!important;}.pdr10{padding-right:10px!important;}
.pdt15{padding-top:15px !important;}.pdb15{padding-bottom:15px!important;}.pdl15{padding-left:15px!important;}.pdr15{padding-right:15px!important;}
.pdt12{padding-top:12px !important;}
.pdt8{padding-top:8px!important;}.pdb8{padding-bottom:8px!important;}.pdl8{padding-left:8px!important;}.pdr8{padding-right:8px!important;}
.pdt5{padding-top:5px!important;}.pdb5{padding-bottom:5px!important;}.pdl5{padding-left:5px!important;}.pdr5{padding-right:5px!important;}
.pdt3{padding-top:3px!important;}.pdb3{padding-bottom:3px!important;}.pdl3{padding-left:3px!important;}.pdr3{padding-right:3px!important;}

.spacer{height:5px; clear:both;}.spacer1{height:1px; clear:both;}.spacer3{height:3px; clear:both;}.spacer5{height:5px; clear:both;}.spacer7{ height:7px; clear:both;}.spacer8{ height:8px; clear:both;}.spacer10{height:10px; clear:both;}.spacer12{ height:12px; clear:both;}.spacer14{ height:14px; clear:both;}.spacer15{ height:15px; clear:both;}.spacer20{height:20px; clear:both;}.spacer25{height:25px; clear:both;}.spacer30{height:30px; clear:both;}.spacer33{ height:33px; clear:both;}.spacer40{height:40px; clear:both;}.spacer50{ height:50px; clear:both;}

.spacer-right5{height:5px; clear:right;}.spacer-right10{height:10px; clear:right;}.spacer-right15{height:15px; clear:right;}.spacer-right20{height:20px; clear:right;}

.clear{clear:both; height:0;}
/*GENERAL*/
.fr{ float:right;}

.header-bg{ background:#3e93c0; padding:10px 0 4px 10px;}

.logo{ background:url(../images/logo.png) left top no-repeat; width:242px; height:47px; display:block;}
#menu{ background:#e7e7e8; padding:5px 0;}
#menu ul{ text-align:center; color:#272324;text-transform:uppercase;}
#menu ul li{ display:inline; padding:0 1%; border-right:1px #272324 solid; font-size:0.8em;}
#menu ul li.last{border:none;}
#menu ul li a{ color:#272324; text-decoration:none; text-shadow:1px 1px 1px #fff;}
#menu ul li a:hover{ color:#3e93c0;}
.middle{ padding:10px;}
h1{ font-size:1.2em; font-weight:bold; color:#3e93c0;}
h2{ font-size:1.1em;font-weight:normal; }
h2 a{ font-size:1.1em; color:#272324; font-weight:bold; }
h2 a:hover{ font-size:1.1em; color:#3e93c0; font-weight:bold; }
.textbox{ color:#9a9c9f; border:1px #509acc solid; padding:5px; width:75%; background:#f3f3f4; font-family:"Arial"; font-size:1em;}
.textbox-s{ color:#9a9c9f; border:1px #509acc solid; padding:5px; width:65%; background:#f3f3f4; font-family:"Arial"; font-size:1em;}
.submit{ color:#272324; border:1px #509acc solid; padding:5px; background:#d1d2d4; font-family:"Arial"; font-size:1em; cursor:pointer;}
.submit:hover, .submit:focus{ background:#509acc; color:#fff;}
.go-btn{ color:#272324; border:1px #509acc solid; padding:3px 10px; background:#d1d2d4; font-family:"Arial"; font-size:1.2em; cursor:pointer;}
.go-btn:hover, .go-btn:focus{ background:#509acc; color:#fff;}
.spacer100{ clear:both; height:100px;}
.spacer50{ clear:both; height:50px;}
.tal{ text-align:left;}.tac{ text-align:center;}
footer{padding:0 0 20px 0; background:#3e93c0; color:#fff;}
#f-menu{ background:#e7e7e8; padding:5px 0;}
#f-menu ul{ text-align:center; color:#272324;text-transform:uppercase;}
#f-menu ul li{ display:inline; padding:0 1%; border-right:1px #272324 solid; font-size:0.8em;}
#f-menu ul li.last{border:none;}
#f-menu ul li a{ color:#272324; text-decoration:none; text-shadow:1px 1px 1px #fff;}
#f-menu ul li a:hover{ color:#3e93c0;}

.box-link{  color:#201c1d; font-weight:bold; font-size:1em; text-decoration:none; text-align:center; vertical-align:bottom; padding:40px 0 5px 0; display:block; border-radius:10px;-moz-border-radius:10px;-webkit-border-radius: 10px; text-transform:uppercase; width:48%; margin:0 3px;text-shadow:1px 1px 1px #fff;filter: dropshadow(color=#fff, offx=1, offy=1);
}
.box-link:hover{  color:#fff;text-shadow:none;}

.fl{ float:left;}
.mgl10{ margin:0 0 0 10px;}
.textarea{ color:#9a9c9f; border:1px #509acc solid; padding:5px; width:95%; background:#f3f3f4; font-family:"Arial"; font-size:1em;}
.form-space{width:60%; height:30px;}

.v-menu{ color:#1c7dbf;}
.v-menu ul li{margin:1px 0;}
.v-menu ul li a{ font-size:1.5em; font-weight:bold; text-indent:10px; display:block; width:100%; background:url(../images/arrow.png) 99% center no-repeat #e7e7e8; line-height:40px; color:#1c7dbf; border:1px #e7e7e8 solid; border-left:none; border-right:none;text-shadow:1px 1px 1px #fff;filter: dropshadow(color=#fff, offx=1, offy=1);}

.v-menu ul li a:hover{ color:#272324;border:1px #1c7dbf solid; border-left:none; border-right:none;}

.mgr50{ margin-right:50px;}
.links{ font-size:0.9em;}
.link, .links{color:#3E93C0;}
.link a, .links a{ color:#3E93C0;}
.link a:hover, .links a:hover{ color:#9A9C9F;}
.link a:hover{ text-decoration:underline;}
.pos-rel{ position:relative;}

#remaining{ position:absolute; bottom:10px;right:5%;color:#3E93C0;}

.inbox-bg{ background:url(../images/mail-open.png) center top no-repeat #e7e7e8;}

.inbox-bg:hover{ background:url(../images/mail-open-hvr.png) center top no-repeat #3e93c0;}

.send-bg{ background:url(../images/send.png) center top no-repeat #e7e7e8;}

.send-bg:hover{ background:url(../images/send-hvr.png) center top no-repeat #3e93c0;}
.keywords-bg{ background:url(../images/search.png) center top no-repeat #e7e7e8;}

.keywords-bg:hover{ background:url(../images/search-hvr.png) center top no-repeat #3e93c0;}

.groups-bg{ background:url(../images/users.png) center top no-repeat #e7e7e8;}

.groups-bg:hover{ background:url(../images/users-hvr.png) center top no-repeat #3e93c0;}
.contacts-bg{ background:url(../images/wallet.png) center top no-repeat #e7e7e8;}

.contacts-bg:hover{ background:url(../images/wallet-hvr.png) center top no-repeat #3e93c0;}
.logout-bg{ background:url(../images/logout.png) center 5px no-repeat #e7e7e8;}

.logout-bg:hover{ background:url(../images/logout-hvr.png) center 5px no-repeat #3e93c0;}

