.loading {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(0 0 0 / 22%);
	z-index: 1000
}
.loading-wheel {
	width: 20px;
	height: 20px;
	margin-top: -40px;
	margin-left: -40px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-width: 30px;
	border-radius: 50%;
	-webkit-animation: spin 1s linear infinite;
}
.style-2 .loading-wheel {
	border-style: dashed;
	border-color: #fff transparent;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}
.slds-modal__container {
	width: 96% !important;
	height: 100% !important;
}
.wizard-action {
	position: fixed;
	bottom: 0;
	background: #f3f3f3;
	padding: 15px;
	width: 100%;
	margin-left: -25px;
	z-index: 900;
	border-top: 1px solid #1b96ff;
}
.slds-modal__container {
	padding: 3rem 0 .5rem 0 !important;
}
.slds-modal__content {
	min-height: 80% !important;
}
.wizard-step {
	margin-top: 0% !important;
	min-height: 500px
}